<nb-card [status]="stautsToggle ? 'success' : 'danger'">
  <nb-card-header
    ><span
      >Prix finale:
      <strong>
        {{
          finalPrice
            ? (finalPrice | currency : "TND" : "symbol" : "1.2-2")
            : (rowData.finalPrice | currency : "TND" : "symbol" : "1.2-2")
        }}
      </strong>
      <p *ngIf="finalPrice">
        <strong
          >Réduction:
          {{ discount | currency : "TND" : "symbol" : "1.2-2" }}</strong
        >
      </p>
    </span>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="managerForm" (ngSubmit)="submitManager()">
      <div class="row">
        <div class="col-lg-12 fix-inputs">
          <nb-toggle
            formControlName="statusFinal"
            (ngModelChange)="statusToggle($event)"
            [status]="stautsToggle ? 'success' : 'danger'"
          >
            {{ stautsToggle ? "Valider" : "Annuler" }}
          </nb-toggle>
          <input
            nbInput
            placeholder="Pourcentage de remise"
            formControlName="remise"
            fullWidth
          />
          <input
            fullWidth
            nbInput
            placeholder=" Devis"
            formControlName="devis"
            type="file"
            (change)="onSelectFileDevise($event)"
          />
          <input
            fullWidth
            nbInput
            placeholder=" Bon de commande"
            formControlName="bc"
            type="file"
            (change)="onSelectFile($event)"
          />
          <input
            fullWidth
            nbInput
            placeholder=" Bon de livraison"
            formControlName="bl"
            type="file"
            (change)="onSelectFileBl($event)"
          />
          <input
            fullWidth
            nbInput
            placeholder=" Facture"
            formControlName="facture"
            type="file"
            (change)="onSelectFileFacture($event)"
          />
          <button nbButton status="info" type="submit">Terminer</button>
          <button nbButton status="info" type="submit">open</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
