<nb-card>
  <nb-card-header>Magasin</nb-card-header>
  <nb-card-body>
    <form [formGroup]="magasinField">
      <div class="row">
        <div class="col-lg-12">
          <nb-card size="medium">
            <nb-card-header> Liste des composants </nb-card-header>
            <nb-list>
              <!--  ngIf="!c.isAffected" -->
              <nb-list-item
                *ngFor="let c of composant"
                class="fix-list justify-inputs"
              >
                <div class="row fix-items" *ngIf="!c.isAffected">
                  <p>
                    Nom de composant:
                    <strong>{{ c.nameComposant }}</strong> Quantité:
                    <strong>{{ c.quantity }}</strong>
                  </p>
                  <input
                    nbInput
                    type="text"
                    placeholder="Prix d'achat"
                    formControlName="purchasePrice"
                    class="inputs"
                  />
                  <input
                    nbInput
                    type="text"
                    placeholder="Prix de vente"
                    formControlName="sellPrice"
                    class="inputs"
                  />
                  <nb-select
                    formControlName="etat"
                    placeholder="Choisir état"
                    class="inputs"
                  >
                    <nb-option *ngFor="let e of optionMagasin" [value]="e">
                      {{ e }}
                    </nb-option>
                  </nb-select>
                  <input
                    nbInput
                    placeholder="Pick Date"
                    [nbDatepicker]="dateTimePicker"
                    class="inputs"
                  />
                  <nb-datepicker #dateTimePicker></nb-datepicker>

                  <button
                    nbButton
                    status="info"
                    size="small"
                    (click)="updateMagasin(c.nameComposant)"
                  >
                    Affecter
                  </button>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
