<nb-card>
  <nb-card-header>Magasin</nb-card-header>
  <nb-card-body>
    <form [formGroup]="magasinField">
      <div class="row">
        <div class="col-lg-12">
          <label class="label" for="">Choisir état</label>
          <nb-select fullWidth formControlName="etat">
            <nb-option *ngFor="let e of optionMagasin" [value]="e">
              {{ e }}
            </nb-option>
          </nb-select>
        </div>

        <div class="col-lg-12">
          <nb-card size="medium">
            <nb-card-header> Some fruits </nb-card-header>
            <nb-list>
              <nb-list-item *ngFor="let c of composant" class="fix-list">
                <div class="row">
                  <h6>
                    Nom de composant:{{ c.nameComposant }}, Quantité
                    {{ c.quantity }}
                  </h6>
                  <div class="col-lg-12">
                    <input
                      nbInput
                      type="text"
                      placeholder="Prix d'achat"
                      formControlName="purchasePrice"
                    />
                  </div>
                  <div class="col-lg-12">
                    <input
                      nbInput
                      type="text"
                      placeholder="Prix de vente"
                      formControlName="sellPrice"
                    />
                  </div>
                  <div class="col-lg-12">
                    <input
                      nbInput
                      [nbDatepicker]="datepicker"
                      placeholder="Date"
                      formControlName="datePicker"
                    />
                  </div>
                </div>
                <div class="row">
                  <button
                    nbButton
                    status="info"
                    size="small"
                    (click)="updateMagasin(c.nameComposant)"
                  >
                    Affecter
                  </button>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
