<nb-card class="row justify-card">
  <nb-card
    [routerLink]="['/pages/tableClient/add-client', 'CLIENT']"
    size="medium"
    class="col-lg-4 animation"
    (click)="onCreateNewClient()"
  >
    <div class="cardsocieteclient">
      <nb-icon
        class="Icon"
        icon="people-outline"
        style="font-size: 10rem"
      ></nb-icon>
      <h2 class="textunderheader">Créer nouveau client</h2>
    </div>
  </nb-card>

  <nb-card
    size="medium"
    class="col-lg-4 animation"
    (click)="onCreateNewSociete()"
    [routerLink]="['/pages/tableClient/add-company', 'COMPANY']"
  >
    <div class="cardsocieteclient">
      <nb-icon icon="home-outline" style="font-size: 10rem"></nb-icon>
      <h2 class="textunderheader">Créer nouvelle société</h2>
    </div>
  </nb-card>
</nb-card>
