<nb-card>
  <nb-card-header>Ajouter une panne</nb-card-header>
  <nb-card-body>
    <form class="row">
      <div class="col-lg-12">
        <label class="label">Saisir le nom de panne</label>
        <input
          type="text"
          nbInput
          name="panneInput"
          [(ngModel)]="panneInput"
          fullWidth
        />
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer
    ><button nbButton status="success" (click)="addIssue()">
      Valider
    </button></nb-card-footer
  >
</nb-card>
