<nb-card>
  <nb-card-header class="space-between-elements-header">
    <div class="col-lg-12 Rep">
      <div>
        <span *ngIf="rowData.reparable === 'oui'">
          <nb-icon icon="done-all-outline" class="green-icon"></nb-icon>
        </span>
        <span *ngIf="rowData.reparable !== 'oui'">
          <nb-icon icon="alert-circle-outline" class="red-icon"></nb-icon>
        </span>
        <span> Réparable:</span>
        <span
          ><strong>{{ rowData.reparable }}</strong></span
        >
      </div>
      <div class="col-lg-4 justify-items">
        <div>
          <span> Client:</span
          ><span>
            <strong>
              {{
                rowData.affectedToCompany
                  ? rowData.affectedToCompany
                  : rowData.affectedToClient
              }}</strong
            ></span
          >
        </div>
        <div>
          <span> Créé le:</span>
          <span>
            <strong>{{ rowData.createdAt | date : "dd/MM/yyyy" }}</strong></span
          >
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="Titre">
      Titre de ticket: <strong>{{ rowData.title }}</strong>
    </div>

    <div class="row space-between-elements">
      <div class="col-lg-4">
        Temps diagnostique:
        <strong>{{ rowData.diagnosticTimeByTech }}</strong>
      </div>
      <div class="col-lg-4">
        Téchnicien: <strong>{{ rowData.assignedTo }}</strong>
      </div>
    </div>
    <div class="row space-between-elements">
      <div class="col-lg-12">
        Remarque manager: <strong>{{ rowData.remarqueManager }}</strong>
      </div>
      <div class="col-lg-12">
        Remarque technicien: <strong>{{ rowData.remarqueTech }}</strong>
      </div>
    </div>

    <div class="row scroll-container">
      <div class="col-lg-6" *ngFor="let c of rowData.composants">
        <nb-card status="success">
          <nb-card-header
            ><strong>{{ c.nameComposant }}</strong></nb-card-header
          >
          <nb-card-body>
            Status: <strong>{{ c.statusComposant }}</strong> <br />
            Prix d'achat:
            <strong
              >{{ c.purchasePrice | currency : "TND" : "symbol" : "1.2-2" }}
            </strong>
            <br />
            Prix de vente:
            <strong
              >{{ c.sellPrice | currency : "TND" : "symbol" : "1.2-2" }}
            </strong>
            <br />
            Date d'arrivage: <strong>{{ c.comingDate }}</strong> <br />
          </nb-card-body>
          <nb-card-footer>
            Quantité: <strong>{{ c.quantity }}</strong>
          </nb-card-footer>
          <nb-card-footer *ngIf="c.quantity !== 1">
            Prix total :
            <strong
              >{{
                c.quantity * c.sellPrice | currency : "TND" : "symbol" : "1.2-2"
              }}
            </strong>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <form [formGroup]="AdminTechForm" (ngSubmit)="submitTicket()">
      <div class="col-lg-12 final-price">
        <h6>Prix total des composants:</h6>
        <p>
          {{
            calculateTotalPrixTotale() | currency : "TND" : "symbol" : "1.2-2"
          }}
        </p>
      </div>

      <div class="col-lg-12">
        <input
          nbInput
          formControlName="finalPrice"
          placeholder="Affecter prix final"
        />
        <button nbButton status="success" type="submit">Confirmer</button>
      </div>
    </form></nb-card-footer
  >
</nb-card>
