<nb-card>
  <nb-card-header>Creation de client</nb-card-header>
  <nb-card-body>
    <form [formGroup]="addUser">
      <div class="row">
        <div class="col-lg-6">
          <label class="label" for="">Nom</label>
          <input nbInput type="text" fullWidth formControlName="lastName" />
        </div>
        <div class="col-lg-6">
          <label class="label" for="">Prenom</label>
          <input nbInput type="text" fullWidth formControlName="firstName" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <label class="label" for="">Adresse</label>
          <input nbInput type="text" fullWidth formControlName="address" />
        </div>
        <div class="col-lg-6">
          <label class="label" for="">Numero de telephone</label>
          <input nbInput type="text" fullWidth formControlName="phone" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label class="label" for="">E-mail</label>
          <input nbInput type="text" fullWidth formControlName="email" />
        </div>
      </div>
      <div class="row">
        <div class="justify-btn">
          <button status="success" (click)="createUser()" nbButton>
            Ajouter
          </button>
          <button status="danger" (click)="addUser.reset()" nbButton>
            Vider
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
